@model IEnumerable<EntityLayer.Concrete.FamousQuote>

<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>KİTAPLAR HAKKINDA SÖZLER</h2>
            <p>Ünlü yazarların, düşünürlerin kitap okumakla ilgili aydınlatıcı sözleri</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "@item.Content"
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>@item.Writer</h3>
                            <h4>@item.Career</h4>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>