@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Kiitaphane</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Tema/assets/img/favicon.png" rel="icon">
    <link href="~/Tema/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Tema/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Tema/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Tema/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: OnePage - v4.9.2
    * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/About/Index/">Kiitaphane</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="/About/Index/">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="/Book/Index/">Kitaplar</a></li>
                    <li><a class="nav-link scrollto" href="/BookReadingActivity/Index/">Kitap Etkinlikleri</a></li>
                    <li><a class="nav-link scrollto o" href="/Contact/Index/">İletişim</a></li>
                    <li>
                        <a class="getstarted scrollto" href="/Register/Index/">
                            Kayıt Ol
                            <div class="icon"><i class="ri-user-3-fill"></i></div>
                        </a>
                    </li>
                    <li>
                        <a class="getstarted scrollto" href="/Login/Index/">
                            Giriş Yap
                            <div class="icon"><i class="ri-login-box-fill"></i></div>
                        </a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main>
        @RenderBody()
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Kiitaphane</h3>
                        <p>
                            Serdivan, Sakarya<br>
                            TÜRKİYE <br><br>
                            <strong>Telefon:</strong> +90 555 555 55 55<br>
                            <strong>E-mail:</strong> kiitaphane@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Site Linkleri</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kitaplar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kitap Etkinlikleri</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Faydalı Linkler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kitapyurdu</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">BKM Kitap</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Amazon</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">İdefix</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Diğer</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Haber bültenimize abone olun</h4>
                        <p>Kitap etkinliklerimizden haberdar olmak için abone olun.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Abone Ol">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Kiitaphane</span></strong>. Tüm hakları saklıdır.
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
                    @*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Tema/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Tema/assets/vendor/aos/aos.js"></script>
    <script src="~/Tema/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Tema/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Tema/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Tema/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Tema/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Tema/assets/js/main.js"></script>


</body>

</html>