@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



@await Component.InvokeAsync("ContactInformation")

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-md-12 form-group">
                        <input type="text" name="name" class="form-control" id="topic" placeholder="Konu" required>
                    </div>

                    <div class="my-3 col-12">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Mesaj" required></textarea>
                    </div>
                    <div class="text-center col-12"><button type="submit">Mesajı Gönder</button></div>
                </div>
            </div>
        </form>
    </div>
</section><!-- End Contact Section -->