@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="section-title">
    <h2>YORUMLAR</h2>
</div>
<div class="faq-list">
    <ul>
        @foreach (var item in Model)
        {
            <li data-aos="fade-up" data-aos-delay="100">
                <p style="text-align:right">@item.CommentDate</p>
                <p style="color: #2487CE; font-size: 1.5rem">@item.User.UserName @item.User.UserSurname </p>
                <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
                    <p>@item.CommentContent</p>
                </div>
                <br />
            </li>
        }
    </ul>
</div>