
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="height:75vh">
    <h1 style="text-align:center">Kitap Etkinliği Sayfası Çok Yakında Sizlerle...</h1>
</div>


