@model EntityLayer.Concrete.User

@if (Model.UserID != 0)
{
    <a class="getstarted scrollto"   style="font-size:1.2rem" href="/ReadBook/BookStatistics/">
        @Model.UserName.Substring(0, 1)@Model.UserSurname.Substring(0, 1)
    </a>
}
else
{
    <a class="getstarted scrollto" href="/ReadingActivity/ReadingActivityList/">
        Admin
    </a>
}

