@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@foreach (var item in Model)
{
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 text-center">
                    <h1>Kiitaphane</h1>
                    <h2>Kitap okumayı seviyorsan bu site tam sana göre</h2>
                </div>
            </div>
            <div class="text-center">
                <a href="#about" class="btn-get-started scrollto">Hadi Başlayalım</a>
            </div>

            <div class="row icon-boxes">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-book-fill"></i></div>
                        <h4 class="title"><a href="">Kitap Yorumları</a></h4>
                        <p class="description">Kitaplar hakkında yorumları görebilir ve istediğin kitaba yorum yapabilirsiniz.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-star-fill"></i></div>
                        <h4 class="title"><a href="">Kitap Etkinlikleri</a></h4>
                        <p class="description">Aylık olarak belirlenen kitap etkinliklerinden haberdar olup bu etkinliklere katılabilirsin.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-user-3-fill"></i></div>
                        <h4 class="title"><a href="">Kullanıcı Analizleri</a></h4>
                        <p class="description">Kullanıcılar kendilerine özel hazırlanan istatistiksel tablolara ulaşabilirler.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-bookmark-fill"></i></div>
                        <h4 class="title"><a href="">Ve Kitaplar Hakkında Daha Fazlası</a></h4>
                        <p class="description">Sitemiz geliştikçe eklenen özelliklerle sizlerle olacağız...</p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hakkımızda</h2>
                    <p>Site hakkında genel bilgiler</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="@item.AboutSmallImage1" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-3 pt-lg-0 content p-5" data-aos="fade-left" data-aos-delay="100">
                        <h3>Bu Sitede Neler Var?</h3>
                        <p class="fst-italic">
                            @item.AboutDetails1
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> Kitap Yorumları</li>
                            <li><i class="bx bx-check-double"></i> Kullanıcı Analizleri</li>
                            <li><i class="bx bx-check-double"></i> İletişim ve Öneri Paneli</li>
                            <li><i class="bx bx-check-double"></i> Ve Kitaplar Hakkında Daha Fazlası</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 pt-3 pt-lg-0 content p-5" data-aos="fade-left" data-aos-delay="100">
                        <h3>Bu Sitede Neler Olacak?</h3>
                        <p class="fst-italic">
                            @item.AboutDetails2
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> Kitap Etkinlikleri</li>
                            <li><i class="bx bx-check-double"></i> Etkileşimli Kitap Okuma</li>
                            <li><i class="bx bx-check-double"></i> Kitap Etkinliği İçin Kullanıcı Anketleri</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="@item.AboutSmallImage2" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
            <div class="container">

                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Kitap Etkinliği (Aktif)</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Aktif Kullanıcı</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Okunan Kitap</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Tamamlanmış Kitap Etkinliği</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Kitaplar Hakkında Sözler</h2>
                    <p>Ünlü yazarların, düşünürlerin kitap okumakla ilgili aydınlatıcı sözleri</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "Kitap bir limandı benim için... Ve kitaplardaki insanları sokaktakilerden daha çok sevdim."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Cemil Meriç</h3>
                                <h4>Yazar</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "Okumayan insan, hayata tek bir pencereden bakar, bildiği ezber cümlelerle olayları yorumlar ve dar kalıplı bakış açısına sahip olur."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Sokrates</h3>
                                <h4>Filozof</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "Okumak gıdadır okuyan insanlık bilen insandır."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Victor Hugo</h3>
                                <h4>Düşünür-Yazar</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "Ne kadar meşgul olduğunu düşünürsen düşün okumak için zaman ayırmazsan cahilliğe teslim olursun."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Konfüçyüs</h3>
                                <h4>Filozof-Yazar</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "İnsan her gün bir parça müzik dinlemeli, iyi bir şiir okumalı, güzel bir tablo görmeli ve mümkünse birkaç mantıklı cümle söylemelidir."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Geothe</h3>
                                <h4>Edebiyatçı</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "Sen şimdi bunları birkaç saat içinde okuyacaksın fakat inan bana ben bu işi yapabilmek için saçlarım ağarıncaya kadar çalıştım."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Charles de Montesquieu</h3>
                                <h4>Yazar</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    "İnsanın tekrar tekrar okuduğu, aklının demirbaşları arasında yerini alan ve hayata bakışını değiştiren kitaplar vardır; göz atıp asla baştan sona okumadığı, bir oturuşta okuyup bir hafta sonra unuttuğu kitaplar da."
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>George Orwell</h3>
                                <h4>Yazar</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="row">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-1.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-2.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-3.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-4.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-5.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                        <img src="~/Tema/assets/img/clients/client-6.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End Clients Section -->
    </main>
}