@model EntityLayer.Concrete.ReadingActivity

<div class="container" data-aos="fade-up">
    <div class="faq-list">
        <div class="section-title">
            <h2 class="mt-5">YORUM YAP</h2>
        </div>
        <form action="/Comment/PartialAddComment/@Model.ReadingActivityID" method="post">
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-success pr-4 pl-4 pt-2 pb-2"> <i class="fas fa-plus pr-3"></i>Yorum Gönder</button>

        </form>

    </div>
</div>
