
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<style>
    .bg-login-image {
        background: url("https://cdn1.ntv.com.tr/gorsel/CDmFqIMgJkOtqCz5JZUC7Q.jpg?width=1000&mode=crop&scale=both") !important;
    }

    .bg-gradient-primary {
        background-color: #aed6f1 !important;
        background-image: linear-gradient(180deg, #aed6f1 10%, #aed6f1 100%) !important;
    }

    .alert {
        border-radius: 0.25rem;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template-->
    <link href="~/AdminTema/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/AdminTema/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary" style="height:85vh !important">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center" style="margin-top:15vh !important">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">

                                        <h1 class="h4 text-gray-900 mb-4" style="font-size: 2.3rem; color: #4D72DF !important">
                                            <b><i class="fas fa-book  rotate-n-15"></i> Kiitaphane</b>
                                        </h1>
                                        <hr>
                                    </div>
                                    <form method="post" class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp" name="UserMail"
                                                   placeholder="E-mail Adresi" style="font-size: 1.2rem">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="UserPassword" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Şifre" style="font-size: 1.2rem">
                                        </div>
                                        @if (!String.IsNullOrEmpty(ViewBag.mesaj))
                                        {
                                            <div class="alert alert-danger alert-dismissible fade show my-custom-alert" role="alert">
                                                @ViewBag.mesaj
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        }
                                       
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" name="rememberMe" id="customCheck">
                                                <label class="custom-control-label" style="font-size: 1rem" for="customCheck">
                                                    Beni Hatırla
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" style="font-size: 1.4rem">
                                            Giriş Yap
                                        </button>

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html" style="font-size: 1rem">Şifremi Unuttum</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" style="font-size: 1rem" href="/Register/Index/">Hesap Oluştur!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/AdminTema/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminTema/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/AdminTemavendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/AdminTema/js/sb-admin-2.min.js"></script>

</body>

</html>