
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<section class="vh-100 mt-lg-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class=" col-md-8 col-lg-6 col-xl-4 offset-xl-0">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form>

                            <h2 style="color: #124265">GİRİŞ YAP</h2>

                            <!-- Email input -->
                            <div class="form-outline mb-4">

                                <label class="form-label" for="form3Example3"></label>
                                <input type="email" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Email" />

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4"></label>
                                <input type="password" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Şifre" />

                            </div>
                            <br />

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label class="form-check-label" for="form2Example3">
                                        Beni Hatırla
                                    </label>
                                </div>
                                <a href="#!" class="link-primary">Şifremi Unuttum</a>
                            </div>
                            <br />
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="button" class="btn btn-primary btn-group-lg">
                                    Giriş Yap
                                </button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Hesabınız yok mu? <a href="#!"
                                                         class="link-primary">Kayıt Ol</a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-4">
                <img src="~/Tema/assets/img/about-img/login.jpeg"
                     class="img-fluid" alt="Sample image">
            </div>
        </div>
    </div>

</section>

