@model EntityLayer.Concrete.ContactInformation
<div class="col-lg-6 col-md-6 footer-contact">
    <h3>Kiitaphane</h3>
    <br>
    <p>
        @Model.Address<br>
        <br>
        <strong>Telefon:</strong>@Model.TelephoneNumber<br>
        <strong>E-mail:</strong>@Model.Email<br>
    </p>
</div>